/*--bakground: #111111;
--torch: #e2eafc;
--light: #ffc300;
--off: #343434;*/

:root {
  --x: 20%;
  --y: 20%;
}

body {
  background: #111111;
  margin: 10px;
  touch-action: none;
}

body.no_scroll {
  overflow: hidden;
}

#readme_button {
  position: fixed;
  top: 3%;
  left: 92%;
  padding: 10px 20px;
  border: 2px solid #ffc40077;
  border-radius: 8px;
  background: transparent;
  color: #ffc400ce;
  cursor: pointer;
  z-index: 20;
}

#readme_a {
  color: inherit;
  text-decoration: none;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1a1a22;
  border: 2px dashed #ffc300;
  border-radius: 10px;
  padding: 30px 50px;
  text-align: center;
  z-index: 30;
}

#popup.show {
  display: block;
}

#popup h2 {
  color: #ffc300;
}

#next_button {
  padding: 10px 20px;
  border: 2px solid #ffc300;
  border-radius: 8px;
  background: transparent;
  color: #ffc300;
  cursor: pointer;
  margin-top: 15px;
}

h1,
p {
  color: #e9ecef8f;
  font-family: roboto slab;
  text-align: center;
  z-index: 20;
  position: relative;
}

#levels,
#reset {
  display: flex;
  justify-content: center;
  gap: 13px;
}

.level_btn,
#reset_btn {
  padding: 10px 20px;
  border: 2px solid #ffc40077;
  border-radius: 8px;
  background: transparent;
  color: #ffc400ce;
  cursor: pointer;
}

.level_btn.active {
  border: 4px solid #ffc40077;
  background: repeating-linear-gradient(
    45deg,
    #ffc40022 0px,
    #ffc40022 10px,
    #1a1a22 10px,
    #1a1a22 20px
  );
}

#reset_btn {
  border: 3px solid #1e5f91cb;
  color: #1e5f91d3;
  z-index: 20;
  position: relative;
}

#board {
  display: grid;
  gap: 20px;
  justify-content: center;
}

.light {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 30%;
  background-color: #343434;
}

.light.on {
  background: #ffc4007c;
  box-shadow: 0 0 20px #ffc4007c;
}

#torch {
  inset: 0;
  background:
    radial-gradient(
      circle at var(--x) var(--y),
      color-mix(in srgb, #e2eafc 34%, transparent) 0px,
      transparent 90px
    ),
    radial-gradient(
      circle at var(--x) var(--y),
      transparent 30px,
      rgb(5, 5, 8, 0.97) 70px
    );
  transition: opacity 2s;
  position: fixed;
  z-index: 10;
  pointer-events: none;
}

body.won #torch {
  opacity: 0;
}

body.invert {
  filter: invert(1);
}

.easter_egg {
  color: #043d88;
}

h4 {
  color: #af0f0ff5;
}

#dots {
  font-size: 50px;
  text-align: center;
}

h1:has(a) {
  z-index: 0;
}

#on_off_light {
  border: 3px solid #ffc300;
  border-radius: 15%;
  background: transparent;
  color: #ffc300;
  cursor: pointer;
  position: relative;
  display: block;
  margin-left: 80%;
}

#on_off_light::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 30;
  pointer-events: none;
  box-shadow: 0 0 70px #ffc300;
  animation: 2s pulse infinite;
}

@keyframes pulse {
  0%,
  100% {
    box-shadow: 0 0 30px #ffc300;
  }
  50% {
    box-shadow: 0 0 70px #ffc300;
  }
}
